@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.center {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@-webkit-keyframes animate-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

@keyframes animate-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.profile__card {
  margin-top: 5rem;
  background-image: url("https://qph.fs.quoracdn.net/main-qimg-ed135270e3ca8fb438e7930fbfea9185");
}

.profile__card-img {
  border-radius: 50%;
  display: inline-block;
  padding: 7px;
  background-size: 200% 200%;
  max-width: 120px;
  background: linear-gradient(130deg, #74b9ff, #e66);
  -webkit-animation: animate-gradient 2s linear infinite;
          animation: animate-gradient 2s linear infinite;
  margin-bottom: 2rem;
}

.profile__card-img img {
  border-radius: 50%;
}

.profile__card-btn {
  text-align: center;
}

.profile__card-btn .btn-hover {
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.profile__card-btn .btn-hover:hover {
  background-position: 100% 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.profile__card-btn .btn-hover.color-9 {
  background-image: -webkit-gradient(linear, left top, right top, from(#25aae1), color-stop(#4481eb), color-stop(#04befe), to(#3f86ed));
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  -webkit-box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
          box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.profile__card-btn .btn-hover:focus {
  outline: none;
}

.profile__card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profile__card-header p {
  margin: 2rem auto;
}

.profile__card-header h3 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.profile__card-header span {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}

.profile__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: linear-gradient(315deg, #2d2c2c, #44494e);
}

.profile__card-footer .wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 2rem;
}

.profile__card-footer .wrapper .icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile__card-footer .wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile__card-footer .wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
          transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.profile__card-footer .wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.profile__card-footer .wrapper .icon:hover span,
.profile__card-footer .wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.profile__card-footer .wrapper .facebook:hover,
.profile__card-footer .wrapper .facebook:hover .tooltip,
.profile__card-footer .wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.profile__card-footer .wrapper .twitter:hover,
.profile__card-footer .wrapper .twitter:hover .tooltip,
.profile__card-footer .wrapper .twitter:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.profile__card-footer .wrapper .instagram:hover,
.profile__card-footer .wrapper .instagram:hover .tooltip,
.profile__card-footer .wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.profile__card-footer .wrapper .github:hover,
.profile__card-footer .wrapper .github:hover .tooltip,
.profile__card-footer .wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

.profile__card-footer .wrapper .youtube:hover,
.profile__card-footer .wrapper .youtube:hover .tooltip,
.profile__card-footer .wrapper .youtube:hover .tooltip::before {
  background-color: #de463b;
  color: #ffffff;
}
/*# sourceMappingURL=contact.css.map */