$font-small: "Damion", cursive;
$font-title: "Roboto", sans-serif;
/* COLOR */
$text-mainColor: #9a9f9c;
/* Text primary color */
$text-subColor: #545d7a;
/* Text secondary color */
$border-color: #8e97af;
/* used for borders */
$cursor-color: #f0f2fb;
/* phổ biến cho di chuột / most common for hover */
$background-color: #f7f7f7;
@keyframes fallIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  transform: translateY(-50%);
  transition: all 0.5s ease;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.line {
  border: 0;
  background-color: #9a9f9c;
  height: 3px;
  cursor: pointer;
  margin: 25px 0 45px 0;
}
ul {
  list-style-type: none;
}
.title-style {
  font-size: 2.3rem;
  color: #9a9f9c;
}
img {
  display: inline-block;
  max-width: 100%;
  object-fit: cover;
}

span {
  display: inline-block;
}
.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.btn-plus,
.btn-minus {
  cursor: pointer;
}
.btn-menu {
  display: none;
}

.perchase__product {
  display: flex;
  position: relative;
  z-index: 1;
  .pro-title {
    font-size: 2rem;
    color: $text-subColor;
  }
  .my-cart {
  }
  .pro {
    &-items {
      display: flex;
      position: relative;
    }
    &-img {
      max-width: 135px;
      max-height: 175px;
    }
    #pro-content {
      font-size: 1.5rem;
      font-weight: 400;
      display: flex;
      flex-direction: column;
    }
    &-inf {
      padding-left: 3rem;
      line-height: 2;
    }
    &-cost {
    }
    &-size {
    }
    &-quantity.btn {
      border: 2px solid $border-color;
      display: flex;
      justify-content: space-evenly;
      input[type="number"] {
        border: none;
        outline: none;
        width: 18px;
        -moz-appearance: textfield;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      button {
        border: none;
        background-color: transparent;
      }
    }
    &-cost-right {
      position: absolute;
      right: 0;
      top: 0;
      i {
        padding-left: 25px;
        cursor: pointer;
      }
    }
   
    &-pay {
      p {
        position: relative;
        font-size: 1.5rem;
        line-height: 2;
        span {
          color: $text-subColor;
          font-size: 1.8rem;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .check-out {
    background-color: #63796d;
    align-items: center;
    display: flex;
    height: 4.5rem;
    color: white;
    font-size: medium;
    justify-content: center;
    .bx {
      color: rgb(255, 255, 255);
    }
  }
}
