@charset "UTF-8";
/* COLOR */
/* Text primary color */
/* Text secondary color */
/* used for borders */
/* phổ biến cho di chuột / most common for hover */
.hidden {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.line {
  border: 0;
  background-color: #9a9f9c;
  height: 3px;
  cursor: pointer;
  margin: 25px 0 45px 0;
}

ul {
  list-style-type: none;
}

.title-style {
  font-size: 2.3rem;
  color: #9a9f9c;
}

img {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

span {
  display: inline-block;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header button {
  display: none;
}

.header__app-logo {
  font-family: "Roboto", sans-serif;
}

.header__app-logo h3 {
  font-size: 3rem;
  font-weight: 400;
}

.header__search {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 62px;
  width: 420px;
  /*     border: 2px solid #9a9f9c;
 */
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header__search form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 450px;
  border: 2px solid #8e97af;
  border-radius: 3px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.header__search form:focus-within {
  border-color: #6a5af9;
}

.header__search form input:not(:placeholder-shown) + .lable__search,
.header__search form:focus-within + .lable__search {
  color: #6a5af9;
  top: 0;
  padding: 0 13px;
  display: inline-block;
  background-color: white;
}

.header__search form input {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  outline: none;
  font-size: 2rem;
}

.header__search form button {
  cursor: pointer;
  height: 100%;
  padding: 1.8rem;
  font-size: 1.4rem;
  border: none;
}

.header__search label {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5.33rem;
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #9a9f9c;
  pointer-events: none;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.header span {
  height: 100%;
  width: 7.2rem;
  font-size: 3.8rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.header span p {
  position: absolute;
  top: 40%;
  left: 43%;
  font-size: 1.7rem;
  color: #000;
}

.btn-plus, .btn-minus {
  cursor: pointer;
}

.nav--list {
  font-size: 2rem;
  line-height: 5.5rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.nav--tab .nav-items:hover {
  color: #9a9f9c;
}

.nav--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perchase__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.perchase__product .pro-title {
  font-size: 2rem;
  color: #545d7a;
}

.perchase__product .pro-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.perchase__product .pro-img {
  max-width: 135px;
  max-height: 175px;
}

.perchase__product .pro #pro-content {
  font-size: 1.5rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.perchase__product .pro-inf {
  padding-left: 3rem;
  line-height: 2;
}

.perchase__product .pro-quantity.btn {
  border: 2px solid #8e97af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.perchase__product .pro-quantity.btn input[type="number"] {
  border: none;
  outline: none;
  width: 18px;
  -moz-appearance: textfield;
}

.perchase__product .pro-quantity.btn input[type="number"]::-webkit-outer-spin-button, .perchase__product .pro-quantity.btn input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.perchase__product .pro-quantity.btn button {
  border: none;
}

.perchase__product .pro-cost-right {
  position: absolute;
  right: 0;
  top: 0;
}

.perchase__product .pro-cost-right i {
  padding-left: 25px;
  cursor: pointer;
}

.perchase__product .pro-pay p {
  position: relative;
  font-size: 1.5rem;
  line-height: 2;
}

.perchase__product .pro-pay p span {
  color: #545d7a;
  font-size: 1.8rem;
  position: absolute;
  right: 0;
}

.perchase__product .check-out {
  background-color: #63796d;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4.5rem;
  color: white;
  font-size: medium;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.perchase__product .check-out .bx {
  color: white;
}

/* .layout-main {
  margin: 5rem auto;
  max-width: 1660px;
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    .logo {
      font-family: $font-title;
      font-weight: 400;
      font-size: 2rem;
    }
    &__search {
      /* display: inline-flex;
      align-items: center;
      height: 62px;
      width: 420px;
      border: 2px solid #9a9f9c;
      border-radius: 3px; *
      display: flex;
      position: relative;
      form {
        box-sizing: border-box;
        height: 100%;
        display: inline-flex;
        align-items: center;
        height: 60px;
        width: 450px;
        border: 2px solid #9a9f9c;
        border-radius: 3px;
        transition: 0.25s ease;
        &:focus-within {
          border-color: #6a5af9;
        }
        input:not(:placeholder-shown) + .lable__search,
        &:focus-within + .lable__search{
            color: #6a5af9;
            top: 0;
            padding: 0 13px;
            display: inline-block;
            background-color: white;
        }
        input {
          height: 100%;
          flex: 1;
          border: none;
          outline: none;
          font-size: 2rem;
        }
        button {
          cursor: pointer;
          height: 100%;
          padding: 1.8rem;
          font-size: 1.4rem;
          border: none;
        }
      }
        label{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 5.33rem;
         font-size: 2rem;
         user-select: none;
         color: #9a9f9c;
         pointer-events: none;
         transition: 0.25s ease;
     }
        
      }
      span {
        height: 100%;
        width: 7.2rem;
        font-size: 3.8rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;	
        position: relative;

        p {
          position: absolute;
          top: 40%;
          left: 43%;
          font-size: 1.7rem;
          color: #000;
        }
      }
    }
  }
.main{
   .grid{
      display: grid;
      grid-template-columns: 340px 810px 375px;
      grid-template-rows: 1fr 1fr;
      column-gap: 7.1rem;
      grid-template-areas: 
      "
      t1 t2 t3"
     " t1 t2 t3
      ";
   }
   .nav__bar{
      grid-area: t1;
      display: flex;
      font-size: 2rem;
      line-height: 5.5rem;
      transition: all 0.25s ease;
      &-items{
         &:hover{
         color: #9a9f9c;
      }
      }
      
   }
   .My__cart{
      grid-area: t2;
   }
   .order{
      grid-area: t3;
   }
}
 */
/*# sourceMappingURL=shopping.css.map */